# Boilerplate

In [3]:
import pandas as pd 
import pandasql as ps
import matplotlib.pyplot as plt 
import numpy as np
import seaborn as sns
import scipy.stats as stats
import statsmodels.stats.api as sms

from IPython.display import display
from IPython.display import Markdown as md
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

def f():
    pd.set_option('display.max_columns', None)
    pd.set_option('display.max_rows', None)
    
def nf():
    pd.set_option('display.max_columns', None)
    pd.set_option('display.max_rows', 4)

import warnings
warnings.filterwarnings('ignore')

def dp(df, r = 5, c = None):
    from IPython.display import display
    with pd.option_context('display.max_rows', 4, 'display.max_columns', None):
        display(df)

def fg(w = 6, h = 4, dpi = 120):
    plt.rcParams['figure.figsize'] = (w,h)
    plt.rcParams['figure.dpi'] = dpi
fg()

%load_ext autoreload
%autoreload 2

# Create sample

In [4]:
import random 
import string

In [152]:
# letters = string.ascii_uppercase
letters = string.ascii_uppercase[:5]

df = pd.DataFrame()
_len = 200
for i in range(5):
    df[f'Q{i}'] = [''.join(random.choice(letters) for _ in range(1)) for _ in range(_len)]

In [153]:
df

    Q0 Q1 Q2 Q3 Q4
0    A  A  A  B  A
1    B  C  B  D  C
2    E  A  B  C  D
3    C  B  C  E  A
4    B  B  B  C  C
..  .. .. .. .. ..
195  A  E  B  A  E
196  B  B  D  E  C
197  D  D  E  D  A
198  C  C  B  D  A
199  C  D  A  B  C

[200 rows x 5 columns]

# random sample selection

In [163]:
n_clu = 3
_cho = random.sample(df.index.to_list(),n_clu)

dfcho = df[df.index.isin(_cho)].reset_index(drop = True)

In [166]:
dforig = df.copy()

# Compute distances

In [167]:
# computacao ineficient O(n²) ou mais
for idx in df.index:
    for clu in dfcho.index:
        df.loc[idx,f'C{clu}'] = sum(dforig.iloc[idx,:] == dfcho.iloc[clu,:])

In [168]:
df

    Q0 Q1 Q2 Q3 Q4   C0   C1   C2 closest
0    A  A  A  B  A  3.0  3.0  3.0      C2
1    B  C  B  D  C  1.0  2.0  3.0      C1
2    E  A  B  C  D  3.0  4.0  3.0      C0
3    C  B  C  E  A  2.0  0.0  1.0      C0
4    B  B  B  C  C  4.0  4.0  1.0      C2
..  .. .. .. .. ..  ...  ...  ...     ...
195  A  E  B  A  E  2.0  1.0  1.0     NaN
196  B  B  D  E  C  2.0  3.0  0.0     NaN
197  D  D  E  D  A  2.0  1.0  4.0     NaN
198  C  C  B  D  A  3.0  2.0  2.0     NaN
199  C  D  A  B  C  3.0  2.0  1.0     NaN

[200 rows x 9 columns]

# Minimum distances to clusters

In [169]:
dfclosest = df.select_dtypes(include = [float]).idxmin(axis = 1)

In [171]:
df['closest'] = dfclosest

In [172]:
df

    Q0 Q1 Q2 Q3 Q4   C0   C1   C2 closest
0    A  A  A  B  A  3.0  3.0  3.0      C0
1    B  C  B  D  C  1.0  2.0  3.0      C0
2    E  A  B  C  D  3.0  4.0  3.0      C0
3    C  B  C  E  A  2.0  0.0  1.0      C1
4    B  B  B  C  C  4.0  4.0  1.0      C2
..  .. .. .. .. ..  ...  ...  ...     ...
195  A  E  B  A  E  2.0  1.0  1.0      C1
196  B  B  D  E  C  2.0  3.0  0.0      C2
197  D  D  E  D  A  2.0  1.0  4.0      C1
198  C  C  B  D  A  3.0  2.0  2.0      C1
199  C  D  A  B  C  3.0  2.0  1.0      C2

[200 rows x 9 columns]

In [173]:
clusters = df.select_dtypes(include = [float]).columns

In [174]:
for clu in clusters:
    df[df.closest == clu]

    Q0 Q1 Q2 Q3 Q4   C0   C1   C2 closest
0    A  A  A  B  A  3.0  3.0  3.0      C0
1    B  C  B  D  C  1.0  2.0  3.0      C0
2    E  A  B  C  D  3.0  4.0  3.0      C0
6    B  C  E  A  A  1.0  3.0  3.0      C0
7    C  A  C  A  C  1.0  3.0  1.0      C0
..  .. .. .. .. ..  ...  ...  ...     ...
188  B  B  C  E  E  1.0  1.0  1.0      C0
189  E  E  E  C  B  0.0  0.0  4.0      C0
190  B  C  A  D  A  1.0  2.0  3.0      C0
191  D  A  C  E  D  2.0  3.0  2.0      C0
192  E  A  E  D  A  0.0  1.0  8.0      C0

[76 rows x 9 columns]

    Q0 Q1 Q2 Q3 Q4   C0   C1   C2 closest
3    C  B  C  E  A  2.0  0.0  1.0      C1
5    A  E  B  E  B  2.0  1.0  1.0      C1
8    A  E  D  E  A  1.0  0.0  2.0      C1
11   A  E  D  B  A  3.0  2.0  2.0      C1
15   E  B  C  A  C  2.0  1.0  3.0      C1
20   E  B  E  A  D  2.0  1.0  4.0      C1
21   D  B  E  E  A  4.0  2.0  2.0      C1
24   A  B  E  D  B  4.0  2.0  3.0      C1
25   A  C  D  D  C  1.0  0.0  3.0      C1
27   E  E  A  C  C  1.0  0.0  3.0      C1
32   A  C  A  A  C  1.0  0.0  2.0      C1
34   E  E  E  E  A  1.0  0.0  5.0      C1
44   C  D  E  D  D  3.0  2.0  2.0      C1
51   A  E  E  E  A  4.0  2.0  2.0      C1
56   D  B  C  D  A  2.0  0.0  2.0      C1
57   C  B  C  D  A  2.0  0.0  2.0      C1
58   E  B  C  A  C  2.0  1.0  3.0      C1
59   E  C  E  B  C  2.0  1.0  3.0      C1
63   C  D  A  E  D  2.0  1.0  1.0      C1
71   D  B  C  D  B  1.0  0.0  2.0      C1
75   C  B  C  E  B  1.0  0.0  1.0      C1
77   C  D  B  D  D  3.0  2.0  2.0      C1
83   D  C  B  B  A  3.0  2.0  2.0      C1
84   C  D  E  C  E  2.0  1.0  1.0      C1
85   A  E  B  D  E  3.0  1.0  1.0      C1
91   D  D  C  C  A  1.0  0.0  2.0      C1
94   D  B  D  C  A  2.0  1.0  2.0      C1
99   A  E  D  C  D  2.0  1.0  2.0      C1
100  A  D  D  E  E  2.0  1.0  1.0      C1
103  A  E  E  C  E  3.0  1.0  2.0      C1
106  A  E  E  C  B  2.0  1.0  3.0      C1
107  E  C  C  E  A  2.0  1.0  3.0      C1
111  A  B  A  C  A  4.0  1.0  1.0      C1
117  C  C  B  B  A  3.0  2.0  2.0      C1
120  A  B  D  D  B  2.0  1.0  1.0      C1
122  A  D  C  A  A  2.0  1.0  2.0      C1
123  D  B  D  D  D  3.0  2.0  2.0      C1
128  A  B  E  B  A  5.0  2.0  3.0      C1
130  A  E  E  B  B  3.0  2.0  3.0      C1
132  C  E  C  C  A  2.0  1.0  1.0      C1
135  D  B  E  A  E  3.0  2.0  2.0      C1
154  E  C  C  C  C  1.0  0.0  2.0      C1
159  E  E  A  C  A  2.0  1.0  3.0      C1
160  E  D  A  C  E  2.0  1.0  1.0      C1
161  A  D  C  D  A  3.0  1.0  2.0      C1
166  C  D  E  B  D  3.0  2.0  2.0      C1
167  A  B  E  A  D  4.0  2.0  3.0      C1
169  A  C  C  D  E  3.0  1.0  1.0      C1
171  A  B  E  D  A  5.0  2.0  3.0      C1
173  A  E  A  D  A  2.0  0.0  2.0      C1
174  C  B  C  D  A  2.0  0.0  2.0      C1
176  D  C  A  C  C  2.0  1.0  1.0      C1
180  D  B  A  D  C  3.0  1.0  1.0      C1
184  D  B  C  D  A  2.0  0.0  2.0      C1
187  C  B  D  A  B  1.0  0.0  0.0      C1
193  E  D  E  C  D  2.0  1.0  3.0      C1
194  C  D  C  E  A  2.0  1.0  1.0      C1
195  A  E  B  A  E  2.0  1.0  1.0      C1
197  D  D  E  D  A  2.0  1.0  4.0      C1
198  C  C  B  D  A  3.0  2.0  2.0      C1

    Q0 Q1 Q2 Q3 Q4   C0   C1   C2 closest
4    B  B  B  C  C  4.0  4.0  1.0      C2
9    E  B  B  E  E  5.0  3.0  1.0      C2
13   D  B  B  E  D  5.0  3.0  0.0      C2
16   C  E  C  C  E  2.0  1.0  0.0      C2
18   C  E  C  A  D  2.0  2.0  1.0      C2
..  .. .. .. .. ..  ...  ...  ...     ...
179  D  C  D  A  B  1.0  1.0  0.0      C2
182  E  D  B  D  D  4.0  3.0  2.0      C2
185  B  B  D  E  E  1.0  2.0  0.0      C2
196  B  B  D  E  C  2.0  3.0  0.0      C2
199  C  D  A  B  C  3.0  2.0  1.0      C2

[64 rows x 9 columns]

# Return mode

In [175]:
df

    Q0 Q1 Q2 Q3 Q4   C0   C1   C2 closest
0    A  A  A  B  A  3.0  3.0  3.0      C0
1    B  C  B  D  C  1.0  2.0  3.0      C0
2    E  A  B  C  D  3.0  4.0  3.0      C0
3    C  B  C  E  A  2.0  0.0  1.0      C1
4    B  B  B  C  C  4.0  4.0  1.0      C2
..  .. .. .. .. ..  ...  ...  ...     ...
195  A  E  B  A  E  2.0  1.0  1.0      C1
196  B  B  D  E  C  2.0  3.0  0.0      C2
197  D  D  E  D  A  2.0  1.0  4.0      C1
198  C  C  B  D  A  3.0  2.0  2.0      C1
199  C  D  A  B  C  3.0  2.0  1.0      C2

[200 rows x 9 columns]

In [176]:
aux = pd.DataFrame({'a':[1,2,3,2,1,2,3], 'b':[1,4,5,6,4,5,6]})

In [177]:
aux.mode(axis = 0)

     a  b
0  2.0  4
1  NaN  5
2  NaN  6

In [178]:
df['Q0'].mode()

0    A
dtype: object

In [179]:
df.mode(axis = 0)

    Q0   Q1 Q2   Q3   Q4   C0   C1   C2 closest
0    A    A  B    D    A  2.0  1.0  1.0      C0
1  NaN  NaN  C  NaN  NaN  NaN  NaN  NaN     NaN

In [194]:
dfmode = pd.DataFrame()
for clu in clusters:
    dfmode = dfmode.append(df[df.closest == clu].mode(axis = 0).iloc[0,:])

In [195]:
dfmode

  Q0 Q1 Q2 Q3 Q4   C0   C1   C2 closest
0  B  A  E  D  A  1.0  3.0  3.0      C0
0  A  B  E  D  A  2.0  1.0  2.0      C1
0  A  B  B  B  D  2.0  3.0  1.0      C2