In [3]:
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns
import numpy as np
pd.options.display.max_columns = 100

data = pd.read_csv('label3.csv', sep = ';')

In [12]:
def one2(data):
    
    from sklearn.preprocessing import OneHotEncoder

    one = OneHotEncoder(sparse = False)
    types = pd.DataFrame(data.dtypes, columns = ['type'])
    objvars = types[types['type']=='object'].index; objvars
    
    dados = one.fit_transform(data[objvars])
    
    # Tratamento dos nomes
    wnames = [f'x{num}' for num in range(0, data.shape[1])]
    tnames = list(data)
    di = dict(zip(wnames,tnames))
    dfwnames = pd.DataFrame(one.get_feature_names(), columns = ['wnames'])
    wnames_ = dfwnames['wnames'].replace(di, regex = True)
    
    nums = data.drop(columns = objvars, axis = 1)
    #(list(nums))
    
    ones = pd.DataFrame(data = dados, columns = wnames_)
    #(list(ones))
    
    final = pd.concat([nums, ones], axis = 1, ignore_index = True)
    
    all_names = list(nums) + list(ones)
    
    final.columns = all_names
    
    return final, nums, ones

In [13]:
data1, nums, ones = one2(data); data1

,numerico,animal_abelha,animal_borrachudo,animal_bug,animal_gato,animal_mosquito,animal_vaca,fruta_banana,fruta_limao,fruta_maca,device_hd,device_mouse,device_ram,device_ssd,device_teclado,device_touchpad
0,5,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0
1,4,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0
3,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
5,4,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
6,0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
7,2,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
8,0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
9,1,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [14]:
nums

   numerico
0         5
1         4
2         0
3         1
4         1
5         4
6         0
7         2
8         0
9         1

In [15]:
ones

wnames,animal_abelha,animal_borrachudo,animal_bug,animal_gato,animal_mosquito,animal_vaca,fruta_banana,fruta_limao,fruta_maca,device_hd,device_mouse,device_ram,device_ssd,device_teclado,device_touchpad
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0
3,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
5,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
6,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
7,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
8,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
9,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [17]:
final, nums, ones = one2(data)

In [18]:
nums.to_csv('nums.csv', index = False)
ones.to_csv('ones.csv', index = False)
final.to_csv('data1', index = False)